


ELBOX_HAVE_DOT_CONFIG=y
ELBOX_FIRMWARE_VERSION="1.07.16"
ELBOX_FIRMWARE_REVISION="B01"




ELBOX_FIRMWARE_SIGNATURE="N/A"







ELBOX_BOARD_WRGND15=y


ELBOX_BOARD_NAME="wrgnd15"
ELBOX_BSP_UBICOM32_KERNEL_V2_6_36=y
ELBOX_BSP_NAME="ubicom32-kernel-2.6.36"
ELBOX_LINUX_MAJOR=2
ELBOX_LINUX_MINOR=6
ELBOX_LINUX_BUILD=36

ELBOX_TEMPLATE_ARIES=y

ELBOX_PROJECT_SEATTLE=y
ELBOX_TEMPLATE_NAME="aries"
ELBOX_BRAND_NAME="wd"
ELBOX_MODEL_NAME="pro"








ELBOX_ARIES_SESSION_BASE="/runtime/session"




ELBOX_ARIES_FEATURE_ROUTER_GATEWAY=y

ELBOX_ARIES_USE_DANIELS_CONE_NAT=y
ELBOX_ARIES_USE_UDEV=y

ELBOX_ARIES_USE_UDEV_USB_STORAGE_SUPPORT=y
ELBOX_WD_UNLOCK_OPERATION=y
ELBOX_SG3_UTILS=y




ELBOX_TEMPLATE_ARIES_NEW_WIFI_UID=y

ELBOX_TEMPLATE_ARIES_STORAGE_SUPPORT=y
ELBOX_TEMPLATE_ARIES_ENABLE_USER_MANAGEMENT=y
ELBOX_BRAND_ARIES_WD=y



ELBOX_MODEL_ARIES_PRO=y







ELBOX_USE_IPV6=y













ELBOX_LANGUAGE_EN=y




ELBOX_LANGUAGE_FR=y
ELBOX_LANGUAGE_ES=y







ELBOX_LANGUAGE_KO=y














ELBOX_DEFAULT_LANGUAGE_NONE=y





































ELBOX_BUSYBOX=y



ELBOX_PROGS_GPL_BUSYBOX_1_18_1=y
ELBOX_PROGS_GPL_BUSYBOX_WITHOUT_IPROUTE2=y
ELBOX_PROGS_GPL_BUSYBOX_WITHOUT_BZIP2=y
ELBOX_PROGS_GPL_BUSYBOX_WITHOUT_2_4_MODULES=y
ELBOX_PROGS_GPL_BUSYBOX_REAL_CONSOLE_DEVICE=""















ELBOX_USE_DNS=y

ELBOX_PROGS_GPL_DNSMASQ=y




ELBOX_PROGS_GPL_DNSMASQ_HAVE_BROKEN_RTC=y
ELBOX_PROGS_GPL_DNSMASQ_NO_TFTP=y
ELBOX_PROGS_GPL_DNSMASQ_NOUSER_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_NOPRCTL_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_HELPER_SUPPORT_ALPHA=y
ELBOX_PROGS_GPL_DNSMASQ_ADVANCE_DNS_SERVICE_ALPHA=y



ELBOX_HTTPD=y


ELBOX_PROGS_GPL_MATHOPD_16=y











ELBOX_PROGS_GPL_IPROUTE2_2_6_33=y
ELBOX_IPTABLES=y




ELBOX_PROGS_GPL_IPTABLES_1_4_7=y

ELBOX_IPTABLES_L7_EXT=y

ELBOX_PROGS_GPL_ITUNES_SERVER=y
ELBOX_PROGS_GPL_MDNSRESPONDER_107_1=y



ELBOX_PROGS_GPL_NSBBOX=y





CONFIG_NSBBOX_BRCTL=y
CONFIG_NSBBOX_BRCTL_BWCTRL=y

CONFIG_NSBBOX_BRCTL_PORTFORWARD=y
CONFIG_NSBBOX_BRCTL_PORTDENYLIST=y











CONFIG_NSBBOX_NTPCLIENT=y
CONFIG_NSBBOX_SMTPCLIENT=y
CONFIG_NSBBOX_VCONFIG=y



ELBOX_PPPD=y
ELBOX_PROGS_GPL_PPPD_ALPHA=y
ELBOX_PROGS_GPL_PPPD_L2TP_ALIGN=y











ELBOX_PROGS_GPL_PURE_FTPD=y



ELBOX_PROGS_GPL_RADVD_NOUSER_ALPHA=y
ELBOX_PROGS_GPL_RADVD_NOLIBFL=y

ELBOX_PROGS_GPL_RADVD_1_8=y











ELBOX_PROGS_GPL_TELNETD=y





ELBOX_PROGS_GPL_UDEV=y
ELBOX_UDHCP=y




ELBOX_PROGS_GPL_UDHCP_REQUEST_BROADCAST=y

ELBOX_PROGS_GPL_UDHCPCD=y




ELBOX_PROGS_GPL_WIDE_DHCPV6=y
ELBOX_PROGS_GPL_WIRELESS_TOOLS=y














ELBOX_PROGS_GPL_ECMH=y

ELBOX_PROGS_GPL_NDISC6_0_9_9=y



ELBOX_PROGS_GPL_SMARTMONTOOLS=y

ELBOX_PROGS_GPL_SMARTMONTOOLS_5_41=y
ELBOX_PROGS_GPL_SDPARM_1_03=y
ELBOX_HDPARM=y
ELBOX_PROGS_GPL_HDPARM_937=y
ELBOX_PROGS_GPL_INOTIFY=y
ELBOX_HD_IDLE=y





ELBOX_PROGS_GPL_LIBICONV_1_13_1=y






ELBOX_PROGS_GPL_LIB_GSASL=y
ELBOX_PROGS_GPL_LIB_GSASL_0_2_6=y








ELBOX_SQLITE=y
ELBOX_PROGS_GPL_SQLITE_374=y
ELBOX_JSON_C=y
ELBOX_PROGS_GPL_ELBOX_JSON_C_0_9=y





ELBOX_XMLDB=y

ELBOX_PROGS_PRIV_XMLDB3=y
ELBOX_PROGS_PRIV_RGBIN=y



















CONFIG_RGBIN_SEAMA=y
CONFIG_RGBIN_HTTPC=y
CONFIG_RGBIN_GENUUID=y
CONFIG_RGBIN_PFILE=y
CONFIG_RGBIN_SCUT=y







CONFIG_RGBIN_LOGIN=y

CONFIG_RGBIN_GETHOSTIP=y
CONFIG_RGBIN_GETBOOTVER=y

CONFIG_RGBIN_USOCKC=y
CONFIG_RGBIN_SUSOCKC=y








CONFIG_RGBIN_IPV6IP=y
CONFIG_RGBIN_IPV6PDIP=y


CONFIG_RGBIN_SYSLOGMSG=y






CONFIG_RGBIN_DEVDATA=y
CONFIG_RGBIN_DEVDATA_MTDBLOCK="/dev/mtdblock/3"
CONFIG_RGBIN_DEVDATA_OFFSET=0x8000
CONFIG_RGBIN_DEVDATA_SIZE=0x8000




CONFIG_RGBIN_DEVCONF=y
CONFIG_RGBIN_DEVCONF_MTDBLOCK="/dev/mtdblock/2"
CONFIG_RGBIN_DEVCONF_OFFSET=0x0
CONFIG_RGBIN_DEVCONF_SIZE=0x10000






CONFIG_RGBIN_TCPREQUEST=y




ELBOX_IFRESETCNT=y

ELBOX_PROGS_PRIV_IFRESETCNT_26=y


ELBOX_PROGS_PRIV_BWC=y
ELBOX_PROGS_PRIV_BWC_RUNTIME_LIBRARY_PATH="/usr/lib"































ELBOX_PROGS_PRIV_MADWIFI_LSDK_WLAN_V9=y























ELBOX_PROGS_PRIV_MRD=y



ELBOX_PROGS_PRIV_UPDATELEASES=y

ELBOX_PROGS_PRIV_PORTT=y
ELBOX_PROGS_PRIV_NETSTAR=y

ELBOX_PROGS_PRIV_PROXYD=y




ELBOX_PROGS_PRIV_LLD2D=y



















ELBOX_PROGS_PRIV_NETBIOS=y
ELBOX_PROGS_PRIV_NETBIOS_ARIES=y





ELBOX_PROGS_PRIV_SERVD=y
ELBOX_PROGS_PRIV_CGIBIN_ARIES=y








CONFIG_CGIBIN_ARIES_PHPCGI=y
CONFIG_CGIBIN_ARIES_PHPCGI_MAXFILESIZE=0x80000
CONFIG_CGIBIN_ARIES_SESSIONCGI=y
CONFIG_CGIBIN_ARIES_CAPTCHACGI=y
CONFIG_CGIBIN_ARIES_HEDWIGCGI=y
CONFIG_CGIBIN_ARIES_PIGWIDGEONCGI=y
CONFIG_CGIBIN_ARIES_SERVICECGI=y
CONFIG_CGIBIN_ARIES_CONNTRACKCGI=y
CONFIG_CGIBIN_ARIES_FILELOAD=y
CONFIG_CGIBIN_ARIES_DLCONFIG_FILE="config.bin"
CONFIG_CGIBIN_ARIES_FILELOAD_MAXCODESIZE=0x100000
CONFIG_CGIBIN_ARIES_FWUPDATE_MAXCODESIZE=0xFA0000
CONFIG_CGIBIN_ARIES_FWUPDATE_MTDBLOCK="/dev/mtdblock/2"
CONFIG_CGIBIN_ARIES_FWUPDATER=y






CONFIG_CGIBIN_ARIES_SSDPCGI=y
CONFIG_CGIBIN_ARIES_SOAPCGI=y
CONFIG_CGIBIN_ARIES_GENACGI=y


CONFIG_CGIBIN_ARIES_SCANDIR=y
CONFIG_CGIBIN_ARIES_RESTCGI=y

ELBOX_PROGS_PRIV_VERIFICATION_CODE=y

ELBOX_PROGS_PRIV_LOGD=y

CONFIG_LOGD_PHP_HELPER="/etc/services/LOG/logd_helper.php"
CONFIG_LOGD_KLOG_INF_TABLE_SIZE=8
CONFIG_LOGD_FILE_OUTPUT=""


ELBOX_PROGS_PRIV_DDNSD=y
ELBOX_PROGS_PRIV_DDNSD_HELPER="/etc/scripts/ddnsd_helper.sh"











ELBOX_PROGS_PRIV_LLMNRESP=y
ELBOX_PROGS_PRIV_NAMERESOLV=y






ELBOX_PROGS_PRIV_HOSTAPD_WPS=y



















ELBOX_PROGS_PRIV_WPS_2_0=y




ELBOX_PROGS_PRIV_SUPPLICANT_0_5_9=y



ELBOX_PROGS_PRIV_USBMOUNT=y
ELBOX_PROGS_PRIV_USBMOUNT_MNT_ROOT="/var/tmp/storage"
ELBOX_PROGS_PRIV_USBMOUNT_HELPER="/etc/scripts/usbmount_helper.sh"
ELBOX_PROGS_PRIV_USBMOUNT_MOUNTPOINT_HELPER="/etc/scripts/mountpoint_helper.sh"
ELBOX_PROGS_PRIV_USBMOUNT_CALCULATE_SN="/etc/scripts/calculate_sn.sh"

ELBOX_PROGS_PRIV_CYASSL=y
ELBOX_PROGS_PRIV_CYASSL_RC3B_1_0_0=y




ELBOX_PROGS_PRIV_CYASSL_BIG_ENDIAN=y
ELBOX_PROGS_PRIV_CYASSL_COMPILE_PATH="cyassl/cyassl-rc3b-1.0.0"
ELBOX_PROGS_PRIV_ALPHA_STUNNEL=y

ELBOX_PROGS_PRIV_ACCESS_DLNA=y




ELBOX_PROGS_PRIV_MPE_SERVER=y
ELBOX_PROGS_PRIV_SITESURVEY=y






ELBOX_COMLIB_MEM_HELPER_DISABLE=y
